fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv
httpx
pydantic[email]
pydantic-settings
pillow
websockets
slowapi
email-validator
dnspython
